{{ define "main" }}
	<h2>{{.Title}}</h2>

	{{.Content}}

	<div>
		<input type="checkbox" id="c_green">green<br>
		<input type="checkbox" id="c_research">research<br>
		<input type="checkbox" id="c_open">open<br>
		<a id="link" href="{{.Site.BaseURL}}">See icon</a>
	</div>

	<script>
		let		c_green;
		let		c_research;
		let		c_open;
		let		link;
		let		base_url;

		/// GET CHECKBOXES
		c_green = document.getElementById("c_green");
		c_research = document.getElementById("c_research");
		c_open = document.getElementById("c_open");
		/// GET LINK
		link = document.getElementById("link");
		/// SET EVENTS
		c_green.onchange = update_link;
		c_research.onchange = update_link;
		c_open.onchange = update_link;
		/// HANDLE BASE URL
		base_url = link.href;
		link.href = base_url + "/images/logo.svg";

		function		update_link()
		{
			let			url;

			/// MAKE URL
			url = base_url + "/images/logo";
			if (c_green.checked == true)
				url += "-green";
			if (c_research.checked == true)
				url += "-research";
			if (c_open.checked == true)
				url += "-open";
			url += ".svg";
			/// UPDATE LINK URL
			link.href = url;
		}
	</script>

{{end}}
