{{ define "main" }}
	<h2>{{.Parent.Title}} rules</h2>

	{{.Content}}

	<div class="bubbles">
		{{ range .Pages }}
			{{ partial "bubble/label_rule.html" . }}
		{{end}}


		{{$pages := .Site.Pages}}
		{{ range .Params.ruleTypes }}
			{{ range where $pages "Params.ruletype" . }}
				{{ partial "bubble/label_rule.html" . }}
			{{end}}
		{{end}}
	</div>

{{end}}
