{{ define "main" }}
	<h2>{{.Title}}</h2>

	{{.Content}}

	{{ if .Pages }}
		<br>

		<div class="bubbles">
			{{ range (.Paginator 20).Pages }}
				{{ partial "bubble/project.html" . }}
			{{end}}
		</div>
		
		{{ partial "paginator.html" . }}
	{{end}}
{{end}}
