
/*
********************************************************************************
*** BUBBLES
********************************************************************************
*/

.main .bubbles
{
	display:			flex;
	flex-wrap:			wrap;
	justify-content:	center;
}

.main .bubble
{
	width:				35%;
	text-align:			center;
	text-decoration:	none;
	color:				black;
	border:				1px solid black;
	margin:				10px;
	padding:			10px;
}

.main .bubble:hover
{
	border:				1px dashed black;
}

.main .section
{
	width:				60%;
}
