.facts
{
	width:				100%;
	border-collapse:	collapse;
}

.facts td
{
	padding-left:		5px;
	padding-right:		5px;
}

.facts .number
{
	width:				3em;
	font-weight:		bold;
	text-align:			right;
}

.facts .info
{
}
