
/*
********************************************************************************
*** GLOBAL
********************************************************************************
*/

hr
{
	border:				none;
	border-top:			1px solid black;
	margin-top:			2px;
	margin-bottom:		2px;
}

/*
********************************************************************************
*** CONTENT
********************************************************************************
*/

body
{
	font-family:		sans-serif;
}

.main
{
	font-size:			1.3em;
	width:				90%;
	margin:				auto;
	margin-top:			20px;
	margin-bottom:		20px;
}

.main blockquote
{
	text-align:			center;
	font-size:			1.5em;
	font-weight:		bold;
}

.main p
{
	margin-left:		15px;
	margin-right:		15px;
}

.main a
{
	color:				black;
}

/*
**************************************************
*** IMAGES
**************************************************
*/

img
{
	image-rendering:		optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED */
	image-rendering:		-moz-crisp-edges;          /* Firefox */
	image-rendering:		-o-crisp-edges;            /* Opera */
	image-rendering:		-webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering:		pixelated;                 /* Chrome */
	image-rendering:		optimize-contrast;         /* CSS3 Proposed */
	-ms-interpolation-mode:	nearest-neighbor;          /* IE8+ */
	width:					600px;
	display:				block;
	margin:					auto;
}

figcaption
{
	margin-top:				5px;
}

figure
{
	text-align:				center;
	font-style:				italic;
}

/*
**************************************************
*** CODE
**************************************************
*/

pre
{
	border:				1px dashed black;
	padding:			5px;
	overflow:			auto;
}
