h1
{
	font-size:			4em;
	font-weight:		normal;
}

h2
{
	font-size:			2em;
	font-weight:		normal;
}

h3
{
	font-size:			1.5em;
	font-weight:		normal;
}

h4
{
	font-size:			1.2em;
	font-weight:		normal;
}
