{{ define "main" }}
	<h2>{{.Title}}</h2>

	{{.Content}}

	<div class="bubbles">
		{{ partial "bubble/section" (.Site.GetPage "/go_bare/facts") }}
		{{ partial "bubble/section" (.Site.GetPage "/go_bare/articles") }}
		{{ partial "bubble/section" (.Site.GetPage "/go_bare/guide") }}
	</div>

{{end}}
