<footer>
	<hr>
	<nav>
		<!-- SAVE URL -->
		{{ $url := .URL }}

		<!-- PAGES -->
		{{ $pages := slice (.Site.GetPage "/") }}
		{{ $pages = $pages | append (.Site.GetPage "/contact") }}
		{{ $pages = $pages | append (.Site.GetPage "/donate") }}
		{{ $pages = $pages | append (.Site.GetPage "/privacy") }}
		{{ $pages = $pages | append (.Site.GetPage "/sources") }}

		<!-- LOOP PAGES -->
		{{ range $i, $page := $pages }}
			{{ partial (printf "nav/%t.html" (ne $url .URL)) . }}
			{{ if lt (add 1 $i) (len $pages) }}
				|
			{{ end }}
		{{ end }}
	</nav>
	<hr>
	<br>
	<table>
		<tr>
			<td>
				<a href='{{(.Site.GetPage "/label").URL}}'>
					<img
						src="{{.Site.BaseURL}}/images/logo-green-research-open.svg"
						alt="label"
						style="width:50px"
					>
				</a>
			</td>
			<td>
				Bare web design by {{.Site.Params.Designer}}
			</td>
		</tr>
	</table>
</footer>
