<header>
	<!-- Icones: &#x1f332 &#x1f333 &#x1f3e1 -->
	<hr>
	{{ if eq .URL "/" }}
		<h1> &#x1f331; {{.Site.Title}} </h1>
	{{else}}
		<a href="{{.Site.BaseURL}}">
			<h1> &#x1f331; {{.Site.Title}} </h1>
		</a>
	{{end}}
	<hr>

	<nav>
		<!-- SAVE URL -->
		{{ $url := .URL }}

		<!-- PAGES -->
		{{ $pages := slice (.Site.GetPage "/") }}
		{{ $pages = $pages | append (.Site.GetPage "/go_bare") }}
		{{ $pages = $pages | append (.Site.GetPage "/projects") }}
		{{ $pages = $pages | append (.Site.GetPage "/label") }}
		{{ $pages = $pages | append (.Site.GetPage "/donate") }}

		<!-- LOOP PAGES -->
		{{ range $i, $page := $pages }}
			{{ partial (printf "nav/%t.html" (ne $url .URL)) . }}
			{{ if lt (add 1 $i) (len $pages) }}
				|
			{{ end }}
		{{ end }}
	</nav>
	<hr>
</header>
