{{ if gt .Paginator.TotalPages 1 }}
	<!-- GET PAGE RANGE LIMITS -->
	{{ $cur := .Paginator.PageNumber }}
	{{ $min := sub .Paginator.PageNumber 2 }}
	{{ $max := add .Paginator.PageNumber 2 }}

	<!-- PRINT PAGES -->
	{{ range .Paginator.Pagers }}
		{{ if and (ge .PageNumber $min) (le .PageNumber $max ) }}
			<!-- PRINT FIRST PAGE -->
			{{ if and (eq .PageNumber $min) (ne .PageNumber 1) }}
				<a href="{{.First.URL}}">1</a> |
				{{ if ne .PageNumber 2 }} ... | {{end}}
			{{end}}

			<!-- PRINT RANGE PAGES -->
			{{ if ne .PageNumber $cur }}
				<a href="{{.URL}}">{{.PageNumber}}</a>
			{{else}}
				{{.PageNumber}}
			{{end}}
			{{ if and (.HasNext) (lt .PageNumber $max) }} | {{end}}

			<!-- PRINT LAST PAGE -->
			{{ if and (eq .PageNumber $max) (ne .PageNumber .TotalPages) }}
				{{ if ne .PageNumber (sub .TotalPages 1) }} | ... {{end}}
				| <a href="{{.Last.URL}}">{{.TotalPages}}</a>
			{{end}}
		{{end}}
	{{end}}
{{end}}
