<a href="{{.URL}}" class="bubble">
	<div>

		<!-- LABEL AVAILABLE -->
		<!--
		{{ if .Params.Label }}
			<div class="label">
				&#x1f331;
				{{ if in .Params.LabelOptions "green" }}
					&#x1f332;
				{{end}}
				{{ if in .Params.LabelOptions "research" }}
					&#x269b;
				{{end}}
				{{ if in .Params.LabelOptions "open" }}
					&#x1f441;
				{{end}}
			</div>
		{{end}}
		-->

		<h2>{{ htmlUnescape .Params.Icon }} {{.Title}}</h2>
		{{ if .Params.Creator }}
			<i>By {{.Params.Creator}}</i><br>
			<hr>
		{{end}}
		{{.Params.Description}}
	</div>
</a>
