<figure>
	<a href='{{.Site.BaseURL}}/{{.Get "src"}}'>
		<img
			src='{{.Site.BaseURL}}/{{.Get "src"}}'
			alt='{{.Get "title"}}'
			{{ if or (.Get "width") (.Get "height") }}
				style='
					{{ if .Get "width"}} width:{{.Get "width"}}; {{end}}
					{{ if .Get "height"}} height:{{.Get "height"}}; {{end}}
					'
			{{ end }}
		>
	</a>
	{{ if .Get "legend"}}
		<figcaption>{{ .Get "legend" }}</figcaption>
	{{end}}
</figure>
